background-stripe(backgroundColor = #eee, lineColor = #ccc, lineWidth = 2, angle = -45)
  background-color backgroundColor
  background-image repeating-linear-gradient(angle * 1deg, transparent, transparent lineWidth * 1px, lineColor lineWidth * 1px, lineColor lineWidth * 2px)
