background-stripe(backgroundColor = #eee, lineColor = #ccc, lineWidth = 5, angle = -45)
  background-color backgroundColor
  background-image repeating-linear-gradient(-45deg, transparent, transparent 5px, lineColor 5px, lineColor 10px)