// 颜色定义规范
$color-bg = #333
$color-theme = #666
$color-secondary = red
$color-border = #ccc

$color-primary = #0d0
$color-secondary = #7e57c2
$color-assisted = #7e57c2

$color-text = #666
$color-mask = rgba(0, 0, 0, .5)
$color-input = #666
$color-text-white = #fff
$color-text-black = #000

$color-btn-warn = #fa0
$color-btn-active = #3af
$color-btn-disable = #aaa

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
