// 颜色定义规范
$color-bg = #333
$color-theme = #666
$color-secondary = red
$color-border = #ccc

$color-primary = #0d0
// $color-secondary = #7e57c2
$color-assisted = #7e57c2

$color-text = #666
$color-mask = rgba(0, 0, 0, .5)
$color-input = #666
$color-text-white = #fff
$color-text-black = #000

$color-btn-warn = #fa0
$color-btn-active = #3af
$color-btn-disable = #aaa

$font-color-bl = rgba(0, 0, 0, .4)
$font-color-l = rgba(0, 0, 0, .6)
$font-color = rgba(0, 0, 0, 1)
// $font-color = rgba(0, 0, 0, 1)

//字体定义规范
$font-size-small-s = 12px
$font-size-small = 14px
$font-size = 16px
$font-size-medium = 18px
$font-size-medium-x = 20px
$font-size-large = 22px
$font-size-large-x = 24px

$screen-width-max = 1000px
